footer {
    background: $gray-color;
    @include paddingY(size(40));
    @include x-large-screen{
        @include paddingY(size(31), size(46));
    }
    
    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @include max-small-screen{
            padding-left: 5px;
            align-items: baseline;
        }
        @include min-medium-screen {
            padding-left: size(7);
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    .social-icons {
        display: flex;
        padding-top: size(10);
        
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: size(51);
            height: size(51);
            border-radius: 50%;
            background: #4d4d4d;
            z-index: 1;
            
            &:hover {
                &::before {
                    width: 100%;
                    height: 100%;
                }
            }
            
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                background: red;
                transition: all 400ms;
                border-radius: inherit;
                z-index: -1;
            }
            
            &:not(:last-child) {
                margin-right: size(15);
                @include min-small-screen{
                    margin-right: size(22);
                }
            }
            
            &.facebook {
                &::before {
                    background: #3b5998;
                }
            }
            
            &.twitter {
                &::before {
                    background: #4099ff;
                }
            }
            
            &.youtube {
                &::before {
                    background: #ff0000;
                }
            }
            
            &.linked-in {
                &::before {
                    background: #0077b5;
                }
            }
        }
    }
    
    .links {
        margin-bottom: size(20);
        br{
            display: none;
        }
        p:first-of-type{
            margin-bottom: .7rem;
            line-height: normal;
        }
        
        a,p {
            color: $white-color;
            display: block;
            font-size: size(14);
            font-weight: 300;
            line-height: 150%;
            @include max-small-screen{
                margin-bottom: 0;
            }
            @include x-large-screen{
                font-size: size(19);
            }
            
            @include x-large-screen{
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-bottom: size(3);
                }
            }
            transition: color 400ms;
            
            &:hover {
                color: $red-color;
            }
        }
    }
}
.wpcf7 form .wpcf7-response-output{
    position: absolute;
    bottom: 0;
    background: beige;
    left: 0;
    margin: size(30) size(20) size(35)!important;
    border-radius: size(5);
    margin-bottom: 5px!important;
    @include x-large-screen {
        margin: size(56) size(57) size(48) size(77)!important;
        margin-bottom: 10px!important;
    }
    @include max-x-small-screen{
        bottom: -30px;
    }
}

form.wpcf7-form{
    position: relative;
}
a:hover, a:active {
    color: #fff !important;
}
a:hover path, a:active path {
    fill: #fff !important;
}
footer .links a:hover, footer .links p:hover {
    color: #C32729 !important;
}
footer .links strong {
    color: #fff;
}