header {
    background: $dark-gray-color;
    margin-bottom: size(-2);
    @include paddingY(size(20),size(30));
    @include x-large-screen {
        @include paddingY(size(20), size(52));
    }
    
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        
        .logo {
            width: size(330);
            height: auto;
            object-fit: contain;
            @include max-small-screen{
                width: size(170);
            }
            @include max-x-small-screen{
                width: size(140);
            }
            @include xx-small-screen{
                width: size(125);
            }
        }
        
        .burger-menu {
            min-width: size(28);
            min-height: size(20);
            padding: 0;
            border: none;
            background: transparent;
            cursor: pointer;
            
            &:focus {
                outline: none !important;
            }
            
            span {
                display: block;
                min-width: size(28);
                min-height: size(2);
                margin-bottom: size(5);
                position: relative;
                z-index: 1;
                
                &:after, &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $white-color;
                    opacity: .99;
                    transition: background-color 600ms;
                }
                
                &:nth-of-type(even) {
                    &:before {
                        transform-origin: right;
                        transform: scaleX(0) translateZ(0);
                        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
                    }
                    
                    &:after {
                        transform-origin: left;
                        transform: scaleX(1) translateZ(0);
                        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
                    }
                }
                
                &:before {
                    transform-origin: right;
                    transform: scaleX(1) translateZ(0);
                    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
                }
                
                &:after {
                    transform-origin: left;
                    transform: scaleX(0) translateZ(0);
                    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
                }
                
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
            
            &:hover {
                span {
                    
                    &:nth-of-type(even) {
                        &:before {
                            transform: scaleX(1) translateZ(0);
                            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
                        }
                        
                        &:after {
                            transform: scaleX(0) translateZ(0);
                            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
                        }
                    }
                    
                    &:before {
                        transform: scaleX(0) translateZ(0);
                        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
                    }
                    
                    &:after {
                        transform: scaleX(1) translateZ(0);
                        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
                    }
                    
                }
            }
            
            &.active {
                display: none;
            }
        }
        
        .links {
            display: flex;
            
            .small-link {
                color: #fff;
                font-weight: 500;
                font-size: size(26);
                position: relative;
                padding-bottom: size(10);
                @include max-medium-screen{
                    font-size: size(20);
                }
                @include max-x-small-screen{
                    font-size: size(16);
                }
                @include xx-small-screen{
                    font-size: size(13);
                    padding-bottom: size(5);
                }
                &:not(:last-child) {
                    margin-right: size(25);
                    @include max-x-small-screen{
                        margin-right: size(15);
                    }
                    @include xx-small-screen{
                        margin-right: size(8);
                    }
                }
    
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    right: 0;
                    width: 0;
                    background: white;
                    height: size(3);
                    transition: width 0.3s ease-in-out;
                    @include xx-small-screen{
                        height: size(2);
                    }
                }
              
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
                
            }
            
        }
    }
}

