@import "mixins";

.new-container {
  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1282px;
    }
  }
}

.wrapper-home {
  background-color: #f0efeb;
  @include paddingX(size(25)) ;
  @include min-medium-screen {
    @include paddingX(size(50)) ;
  }
  @include x-large-screen {
    @include paddingX(size(101)) ;
  }

  .wrapper-head {
    display: flex;
    //padding-left: size(15);
    flex-shrink: 0;
    align-items: center;
    @include x-large-screen {
      padding-left: size(64);
    }

    h1 {
      margin-top: size(19);
      width: size(66);
      color: #c32729;
      font-family: "Bison Bold";
      font-size: size(100);
      font-weight: bold;
      border-right: 1px solid #C32729;
      @include min-medium-screen {
        font-size: size(167);
      }

    }

    h2 {
      color: #c32729;
      font-family: "Bison Bold";
      font-size: size(33);
      font-weight: bold;
      width: size(533);
      margin-left: size(12);

      @include min-medium-screen {
        font-size: size(50);
      }
      @include x-large-screen {
        font-size: size(66);
        margin-left: size(32);
      }
    }
  }

  .wrapper-text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //@include paddingX(size(55), size(55)) ;
    padding-top: size(42);
    @include x-large-screen {
      flex-direction: row;
      //@include paddingX(size(101), size(101)) ;
      padding-top: size(82);
    }

    p {
      width: 100%;
      color: $dark-gray-color;
      font-family: $Roboto;
      font-size: size(30);
      font-weight: 400;
      @include x-large-screen {
        font-size: size(31);
        width: 53.24%;
      }
    }

    .wrapper-text1-img {
      width: 100%;
      padding-top: size(50);
      @include x-large-screen {
        width: 39.35%;
        padding-top: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  .wrapper-text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //@include paddingX(size(55), size(55)) ;
    padding-top: size(25);
    @include x-large-screen {
      flex-direction: row;
      //@include paddingX(size(101), size(101)) ;
    }

    p {
      width: 100%;
      color: $dark-gray-color;
      font-family: "Roboto";
      font-size: size(30);
      font-weight: 400;
      padding-top: size(20);
      @include x-large-screen {
        font-size: size(31);
        width: 53.24%;
        padding-top: 0;
      }
    }

    .wrapper-text2-img {
      width: 100%;
      padding-top: size(50);
      @include x-large-screen {
        width: 39.35%;
        padding-top: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  .wrapper-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: size(54);
    @include x-large-screen {
      flex-direction: row;
    }

    input {
      border: none;
      border-radius: size(5);
      width: 100%;
      padding: size(26.57) 0 size(26.57) size(28);
      color: $light-gray-color;
      font-family: $Roboto;
      font-size: size(20);
      font-weight: bold;
      margin-top: size(25);
      @include x-large-screen {
        width: 48.51%;
        margin-top: 0;
        font-size: size(24);
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }

      &::placeholder {
        font: inherit;
        color: inherit;
        transition: opacity 0.5s ease;

      }
    }
  }

  .wrapper-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include paddingY(size(94), size(90)) ;
    @include x-large-screen {
      flex-direction: row;

    }

    .btn-left {
      button {
        background-color: $light-gray-color;
      }
    }

    .btn-right {
      display: flex;
      flex-direction: column;
      @include x-large-screen {
        flex-direction: row;

      }

      button {
        margin-right: size(25);
      }
    }

    .get-started-btn {
      background-color: #c32729;

      &:hover {
        background-color: #808080;
      }
    }

    .back-btn {
      background-color: #808080;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: size(88);
      border-radius: size(8);
      color: $white-color;
      font-family: $Roboto;
      font-size: size(25);
      font-weight: bold;
      margin-bottom: size(30);
      cursor: pointer;
      transition: background-color .5s;
      @include x-large-screen {
        font-size: size(23);
        margin-bottom: 0;
        width: size(170);
        height: size(68);
      }

      &:hover {
        background-color: #c32729;
        svg {
          transform: translateX(50%);
        }
      }

      svg {
        width: size(8);
        height: auto;
        margin-left: size(5);

      }
    }
  }
}